@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

/* AG Grid dark mode override */
.dark .ag-theme-alpine {
  --ag-background-color: #1a1b1e;
  --ag-header-background-color: #25262b;
  --ag-odd-row-background-color: #1a1b1e;
  --ag-row-hover-color: rgba(34, 139, 230, 0.08);
}
